
Importing Libraries and Setting Directory

In [30]:
import time
import datetime
import pandas as pd
import os
import numpy as np
import yfinance as yf
# Set directory to where the Excel files are stored
os.chdir(
    'C:\\Users\\odeya.h\\SNC Dropbox\\Odeya Hazani Cohen\\\פרוייקט')

Loading Data from Excel Files

In [32]:
# Load data from Excel files
nasdaq_startups = pd.read_excel('tickers.xlsx', 'nasdaq startups (2)')
nasdaq_tickers = nasdaq_startups['ticker'].dropna().unique().tolist()

Defining Date Range and Creating Date DataFrame

In [33]:
# Define the date range for the data
start_date = datetime.date(2019, 1, 1)
end_date = datetime.date(2024, 6, 1)
period1 = int(time.mktime(start_date.timetuple()))
period2 = int(time.mktime(end_date.timetuple()))
interval = '1d'

# Create a DataFrame with all dates in the range
days = pd.DataFrame(pd.date_range(start=start_date, end=end_date, freq='D', name='Date'))
days['Date'] = pd.to_datetime(days['Date']).dt.date

Setting Up Excel Writer and DataFrames for Calculations

In [35]:
# Excel writer to save outputs
xlwriter = pd.ExcelWriter('EW index data.xlsx', engine='openpyxl')

# DataFrame to store calculated market caps
tickers_price = pd.DataFrame(days['Date'])
EW_finder_index = pd.DataFrame(days['Date'])

Initializing Lists for Failed Tickers

In [37]:
# Initialize lists to record any tickers that fail during data fetching
failed_indexes = []
failed_tickers = []

Processing NASDAQ Ticker Data

In [38]:
# Process NASDAQ ticker data
for nasdaq_ticker in nasdaq_tickers:
    try:
        df_ticker = yf.download(nasdaq_ticker, start=start_date, end=end_date)
        df_ticker.reset_index(inplace=True)
        df_ticker['Date'] = pd.to_datetime(df_ticker['Date']).dt.date

        # Merge the fetched data into tickers_price DataFrame
        tickers_price = tickers_price.merge(df_ticker[['Date', 'Adj Close']].rename(columns={'Adj Close': nasdaq_ticker}), on='Date', how='left')
        
    except Exception as e:
        failed_tickers.append(nasdaq_ticker)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['RWLK']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Delete all rows where all columns except 'Date' are null

In [39]:
tickers_price = tickers_price.dropna(how='all', subset=tickers_price.columns.difference(['Date']))

Create column for number of companies

In [40]:
# Add a new column 'Non-Null Count' that counts the number of non-null values in each row, excluding 'Date' and 'Finder EW Index'
tickers_price['num companies'] = tickers_price.iloc[1:].count(axis=1)

Create Finder EW column

In [41]:
# Add a new column 'Finder EW Index' right next to the 'Date' column
tickers_price.insert(1, 'Finder EW Index', np.nan)

tickers_price.loc[1, 'Finder EW Index'] = 1000.00
tickers_price['num companies']=tickers_price['num companies']-1
tickers_price

,Date,Finder EW Index,AZ,OB,BMR,DOX,MOB,ODD,PGY,SMX,...,URGN,VERO,VRNS,VRNT,WAVE,WKME,WLDS,ENLV,XAIR,num companies
1,2019-01-02,1000.0,NaN,NaN,NaN,52.584522,NaN,NaN,NaN,NaN,...,44.509998,150.750000,17.133333,21.569027,NaN,NaN,NaN,6.800,4.400,NaN
2,2019-01-03,NaN,NaN,NaN,NaN,51.645515,NaN,NaN,NaN,NaN,...,47.570000,146.250000,16.336666,20.708099,NaN,NaN,NaN,7.680,4.650,67.0
3,2019-01-04,NaN,NaN,NaN,NaN,52.674805,NaN,NaN,NaN,NaN,...,51.459999,141.750000,17.163334,21.502802,NaN,NaN,NaN,7.920,4.530,67.0
6,2019-01-07,NaN,NaN,NaN,NaN,52.954697,NaN,NaN,NaN,NaN,...,54.549999,195.750000,17.626667,21.752420,NaN,NaN,NaN,7.368,4.500,67.0
7,2019-01-08,NaN,NaN,NaN,NaN,53.397125,NaN,NaN,NaN,NaN,...,51.349998,204.074997,18.213333,22.063169,NaN,NaN,NaN,7.976,4.500,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970,2024-05-24,NaN,0.420,4.81,5.09,79.910004,0.841,36.680000,11.62,0.199,...,13.240000,0.531000,45.070000,30.629999,3.20,9.22,0.357,1.400,1.105,113.0
1974,2024-05-28,NaN,0.420,4.69,5.11,78.790001,0.818,36.330002,11.76,0.162,...,13.610000,0.541000,45.720001,30.940001,3.41,9.40,0.380,1.380,1.200,112.0
1975,2024-05-29,NaN,0.402,4.73,5.05,78.010002,0.795,36.110001,11.84,0.169,...,13.260000,0.540000,44.820000,30.090000,3.36,9.46,0.432,1.310,1.200,112.0
1976,2024-05-30,NaN,0.395,4.73,4.75,78.279999,0.786,36.160000,11.59,0.164,...,13.550000,0.510000,43.419998,29.459999,3.41,9.24,0.400,1.350,1.230,112.0
1977,2024-05-31,NaN,0.435,4.59,4.27,79.000000,0.801,35.910000,11.81,0.172,...,13.300000,0.530000,42.959999,29.660000,3.92,9.10,0.405,1.360,1.280,112.0

Calculating Finder EW Index

In [42]:
finder_ew_index=tickers_price.copy()
finder_ew_index.reset_index(inplace=True,drop=True)
# Calculate the new values for each ticker and update the Finder EW Index
for i in range(1, len(finder_ew_index['Date'])):
    current_row = tickers_price.iloc[i]
    previous_row = tickers_price.iloc[i - 1]
    if i!=1:
        index = finder_ew_index.loc[i - 1, 'Finder EW Index']
    else:
        index=1000.00
    sum=0   
    for ticker in nasdaq_tickers:
        new_value = 0
        if pd.notna(current_row[ticker]) and pd.notna(previous_row[ticker]):
            today_value = current_row[ticker]
            yesterday_value = previous_row[ticker]            
            new_value = (index / current_row['num companies']) * (today_value / yesterday_value)
            finder_ew_index.at[i, ticker] = new_value
            sum+=new_value
        # Update Finder EW Index for the current row (before iterating through tickers)
    finder_ew_index.at[i, 'Finder EW Index'] = sum  # Exclude only 'Date'
  # Exclude only 'Date'
finder_ew_index

,Date,Finder EW Index,AZ,OB,BMR,DOX,MOB,ODD,PGY,SMX,...,URGN,VERO,VRNS,VRNT,WAVE,WKME,WLDS,ENLV,XAIR,num companies
0,2019-01-02,1000.000000,NaN,NaN,NaN,52.584522,NaN,NaN,NaN,NaN,...,44.509998,150.750000,17.133333,21.569027,NaN,NaN,NaN,6.800000,4.400000,NaN
1,2019-01-03,999.723177,NaN,NaN,NaN,14.658849,NaN,NaN,NaN,NaN,...,15.951472,14.479840,14.231372,14.329627,NaN,NaN,NaN,16.856891,15.773406,67.0
2,2019-01-04,1025.106706,NaN,NaN,NaN,15.218620,NaN,NaN,NaN,NaN,...,16.141414,14.462126,15.676286,15.493865,NaN,NaN,NaN,15.387531,14.536178,67.0
3,2019-01-07,1045.058774,NaN,NaN,NaN,15.381398,NaN,NaN,NaN,NaN,...,16.218820,21.128710,15.713134,15.477714,NaN,NaN,NaN,14.233729,15.198774,67.0
4,2019-01-08,1064.412344,NaN,NaN,NaN,15.728210,NaN,NaN,NaN,NaN,...,14.682892,16.261251,16.117035,15.820719,NaN,NaN,NaN,16.885014,15.597892,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1358,2024-05-24,1286.142890,12.299993,11.352348,11.121587,11.040683,10.453758,11.190188,11.383058,14.743313,...,11.526668,10.513929,11.317716,11.103758,10.529069,11.828601,12.102447,11.432110,11.289302,113.0
1359,2024-05-28,1285.968146,11.483419,11.196930,11.528540,11.322469,11.169366,11.373845,11.621773,9.348311,...,11.804330,11.699679,11.649033,11.599641,12.237018,11.707606,12.223247,11.319370,12.470681,112.0
1360,2024-05-29,1275.351291,10.989779,11.579785,11.347042,11.368191,11.159019,11.412329,11.559966,11.977988,...,11.186587,11.460635,11.255837,11.166423,11.313502,11.555147,13.053061,10.899445,11.481858,112.0
1361,2024-05-30,1279.057707,11.188783,11.387065,10.710605,11.426476,11.258155,11.402832,11.146629,11.050170,...,11.636103,10.754450,11.031378,11.148652,11.556516,11.122249,10.543579,11.734762,11.671741,112.0
1362,2024-05-31,1279.061196,12.576630,11.082141,10.266121,11.525198,11.638100,11.341202,11.636934,11.977239,...,11.209454,11.868007,11.299171,11.497688,13.128158,11.247126,11.562910,11.504752,11.884392,112.0

Writing DataFrames to Separate Sheets in Excel Workbook

In [43]:
finder_ew_index.to_excel(xlwriter,sheet_name='EW index data.xlsx', index=False)
tickers_price.to_excel(xlwriter, sheet_name=' tickers price ', index=False)
pd.DataFrame(failed_indexes, columns=['Failed Indexes']).to_excel(xlwriter, sheet_name='Failed Indexes')
pd.DataFrame(failed_tickers, columns=['Failed Tickers']).to_excel(xlwriter, sheet_name='Failed Tickers')

Closing the Excel Writer

In [44]:
xlwriter.close()